<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Facebook" version="7.0.6" targetFramework="net481" />
  <package id="Facebook-Ads-SDK" version="2.11.0" targetFramework="net481" />
  <package id="Google.Apis" version="1.60.0" targetFramework="net481" />
  <package id="Google.Apis.Auth" version="1.60.0" targetFramework="net481" />
  <package id="Google.Apis.Core" version="1.60.0" targetFramework="net481" />
  <package id="Google.Apis.Drive.v3" version="1.60.0.3082" targetFramework="net481" />
  <package id="InstaSharp" version="2.0.6" targetFramework="net481" />
  <package id="Microsoft.AspNetCore.Http.Features" version="5.0.17" targetFramework="net481" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.2.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.1" targetFramework="net481" />
  <package id="Microsoft.Net.Http.Headers" version="2.2.0" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net481" />
  <package id="Portable.BouncyCastle" version="1.8.1.1" targetFramework="net481" />
  <package id="RestSharp" version="110.2.0" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.Collections" version="4.0.11" targetFramework="net481" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net481" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net481" />
  <package id="System.IO" version="4.1.0" targetFramework="net481" />
  <package id="System.IO.FileSystem" version="4.0.1" targetFramework="net481" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net481" />
  <package id="System.IO.Pipelines" version="5.0.2" targetFramework="net481" />
  <package id="System.Linq" version="4.1.0" targetFramework="net481" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net481" />
  <package id="System.Reflection.Extensions" version="4.0.1" targetFramework="net481" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net481" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net481" />
  <package id="System.Text.Encoding" version="4.0.11" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net481" />
  <package id="System.Text.Json" version="7.0.2" targetFramework="net481" />
  <package id="System.Threading" version="4.0.11" targetFramework="net481" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
</packages>